// font family
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700;800&display=swap");

// update variable
$primary: #4277ff;
$secondary: #5c6574;
$light: #f3f7f9;
// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
  img {
    max-width: 100%;
  }
}
.navbar .navbar-nav .nav-link {
  color: $secondary;
  font-size: 1.1em;
}
.nav-item {
  margin-right: 20px;
}
.aura-nav-btn {
  margin-top: -5px;
}
.hero {
  max-width: 1600px;
  margin-left: auto;
}
.hero-bg-img {
  background-image: url("../assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bg::before {
  content: url(../assets/images/animated\ element-app.svg);
  position: absolute;
  top: 14%;
  left: 26%;
  animation: moveAnimate 4s infinite alternate;
}
.hero-bg::after {
  content: url(../assets/images/cart.svg);
  position: absolute;
  top: 36%;
  right: 17%;
  animation: moveAnimate 2s infinite alternate;
}

@keyframes moveAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.hero-content {
  max-width: 770px;
  h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
  }
  .easier::after {
    content: url(../assets/images/animated\ line.svg);
    position: absolute;
    top: 0;
    left: 0;
  }

  .incredible::after {
    content: url(../assets/images/animated\ line\ 2.svg);

    position: absolute;
    top: 0;
    left: 0;
  }
}
.payment-gateway {
  .payment-bg::after {
    content: url(/assets/images/payment-gateway/Rectangle\ 796.png);
    position: absolute;
    top: 42%;
    left: 33%;
    animation: rotateAnimate 10s infinite linear;
  }
  .payment-card-bg::before {
    content: url(/assets/images/payment-gateway/Rectangle\ 802.png);
    position: absolute;
    top: -15px;
    left: -67px;
    animation: moveAnimate 2s infinite alternate;
  }
  padding-top: 60px;
  .payment-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #495264;
    margin-bottom: 70px;
  }
  .payment-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  @keyframes rotateAnimate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
.feedback {
  padding-top: 100px;
}
.feedback-slider-container {
  background: #ffffff;
  box-shadow: 8px 9px 141px rgba(0, 0, 0, 0.1);
  border-radius: 90px 0px 0px 90px;
  border-radius: 90px 0px 0px 90px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.feedback-slider {
  // background: #ffffff;
  // box-shadow: 8px 9px 141px rgba(0, 0, 0, 0.1);
  // border-radius: 90px 0px 0px 90px;
}
.feedback-slide-wrapper {
  padding-top: 83px;
  padding-left: 107px;
  padding-bottom: 88px;
}
.slide-description {
  font-size: 36px;
  line-height: 52px;
  color: #3f4654;
}
.avatar-wrapper {
  background: #fbfbfb;
  border-radius: 76px;
  max-width: 347px;
}
.avatar-item {
  padding: 16px;
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 46px;
    text-transform: uppercase;
    color: #5c6574;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
}
// swiper
.swiper-3d .swiper-slide-shadow {
  background: transparent;
}
/* pagination css  */
.heroSlider .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: none !important;
}

.heroSlider .swiper-pagination-bullet-active {
  background: #4277ff;
  width: 30px !important;
  height: 10px;
  border-radius: 5px !important;
}

// showcase
// showcaase slider
/* pagination css  */
.showcaseSlider .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  height: 10px;
  background: #3c4453 !important;
  border-radius: 5px;
}

.showcaseSlider .swiper-pagination-bullet-active {
  background: red;
  width: 30px !important;
  height: 10px;
  border-radius: 5px !important;
  z-index: 10 !important;
}

.showcase {
  flex-direction: row;
  max-width: 1600px;
  margin-left: auto;
  border-radius: 73px 0px 0px 73px;
  height: 100%;
  padding: 64px 0;
}
.tab-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background: #2e3a54;
  border: 0.5px solid #4277ff;
  border-radius: 21px;
  outline: none;
  padding: 5px 10px !important;
  margin-right: 20px;
}
.dummy-tab-btn {
  background: rgba(66, 119, 255, 0.1);
  border-radius: 10px;
  padding: 23px 0;
  text-align: center;
  margin-top: 22px;
  cursor: pointer;
}
.tab-wrapper {
  margin-left: -5%;
  padding: 40px;
  background: #2c3341;
  box-shadow: 10px 23px 50px rgba(0, 0, 0, 0.08);
  border-radius: 37px;
  margin-left: -7%;
  height: 80%;
  margin-top: 2%;
  h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 34px;
  }
}
// .tabs {
//   height: calc(80% - 20%);
//   margin-top: 25% !important;
// }
.showcase-content-wrapper {
  max-width: 947px;
  text-align: center;
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
  }
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: $primary;
  color: #ffffff !important;
  border: 0.5px solid $primary;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

// showcase end

// feedback swiper
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "PREV";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    #3c65f6;
  padding: 10px 20px;
  border-radius: 12px 0px 0px 12px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "NEXT";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    #3c65f6;
  padding: 10px 20px;
  border-radius: 0px 12px 12px 0px;
}

.swiper-button-prev {
  left: calc(79% - 40px);
  margin-bottom: 12px;
}
.swiper-button-next {
  right: calc(17% - 40px);
  margin-bottom: 12px;
}
.swiper-button-prev,
.swiper-button-next {
  top: unset !important;
  bottom: -9px;
  position: absolute;
}
/* Media Queries */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
  }
  .hero-bg::before {
    content: "";
  }
  .hero-bg::after {
    content: "";
  }

  @keyframes moveAnimate {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1);
    }
  }
  .feedback-slide-wrapper {
    padding: 16px;
  }
  .showcase {
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  }
}
